# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
#For some reason it wasn't pulling the key from api_keys even after closing api_keys and saving it, it might work if I relaunch
#but I don't want to close it so I'm hardcoding the key
g_key = 'AIzaSyA4X7aWgoXJetH7QCkvPqq2AE4jcKpX0i4'
g_key

'AIzaSyA4X7aWgoXJetH7QCkvPqq2AE4jcKpX0i4'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather = pd.read_csv("../starter_code/out.zip")
weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Toora-Khem,52.47,96.11,258.90,92,100,1.02,RU,1608060427
1,Nikolskoye,59.70,30.79,272.15,92,90,2.00,RU,1608060434
2,Saint-Philippe,-21.36,55.77,297.15,94,53,1.50,RE,1608060434
3,Porto Santo,33.07,-16.34,291.15,63,75,4.60,PT,1608060434
4,Mar del Plata,-38.00,-57.56,291.15,31,20,7.70,AR,1608060135

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather[['Lat', 'Lng']]
humidity = weather['Humidity']
max_intensity = weather['Humidity'].max()

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=humidity/10, dissipating=False, max_intensity=10, point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:

ideal_cities = weather[weather['Cloudiness'] == 0]
ideal_cities = ideal_cities[ideal_cities['Wind Speed'] <= 10]
ideal_cities = ideal_cities[(weather['Max Temp']-273.15)*9/5+32 <= 80]
ideal_cities = ideal_cities[(ideal_cities['Max Temp']-273.15)*9/5+32 >= 70]
ideal_cities.head()

<ipython-input-5-de1f050a372f>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ideal_cities = ideal_cities[(weather['Max Temp']-273.15)*9/5+32 <= 80]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,Hambantota,6.12,81.12,296.15,100,0,1.50,LK,1608059951
35,Salalah,17.02,54.09,296.15,53,0,2.60,OM,1608059743
108,Wagar,16.15,36.20,297.56,41,0,5.39,SD,1608059958
138,Kanye,-24.97,25.33,294.40,69,0,3.36,BW,1608059961
153,Chui,-33.70,-53.46,296.62,57,0,7.09,UY,1608059963

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_cities
hotel_df['Hotel Name'] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
31,Hambantota,6.12,81.12,296.15,100,0,1.50,LK,1608059951,
35,Salalah,17.02,54.09,296.15,53,0,2.60,OM,1608059743,
108,Wagar,16.15,36.20,297.56,41,0,5.39,SD,1608059958,
138,Kanye,-24.97,25.33,294.40,69,0,3.36,BW,1608059961,
153,Chui,-33.70,-53.46,296.62,57,0,7.09,UY,1608059963,

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    params = {
        "location": str(row['Lat'])+", "+str(row['Lng']),
        "type": 'hotel',
        "radius": 5000,
        "key": g_key
    }
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [8]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
31,Hambantota,6.12,81.12,296.15,100,0,1.50,LK,1608059951,Hambantota
35,Salalah,17.02,54.09,296.15,53,0,2.60,OM,1608059743,Salalah
108,Wagar,16.15,36.20,297.56,41,0,5.39,SD,1608059958,Wagga
138,Kanye,-24.97,25.33,294.40,69,0,3.36,BW,1608059961,Kanye
153,Chui,-33.70,-53.46,296.62,57,0,7.09,UY,1608059963,Chuy
164,Umluj,25.02,37.27,294.61,50,0,5.07,SA,1608059964,Umluj
218,Poum,-20.23,164.02,299.14,72,0,5.32,NC,1608059971,Poum
228,Det Udom,14.91,105.08,296.15,83,0,4.10,TH,1608059952,Mueang Det
233,Zabid,14.20,43.32,298.14,59,0,5.59,YE,1608059972,Zabid
242,Douentza,15.00,-2.95,298.63,18,0,2.01,ML,1608059973,Douentza
263,Dakoro,14.51,6.76,298.90,18,0,4.84,NE,1608059975,Dakoro
282,Warmbad,-28.45,18.73,299.57,15,0,4.24,NaN,1608059978,Warmbad
298,Oussouye,12.48,-16.55,299.15,78,0,4.10,SN,1608059979,Oussouye
379,Broken Hill,-31.95,141.43,297.15,47,0,4.10,AU,1608059987,Broken Hill
440,Atar,20.52,-13.05,296.06,21,0,4.37,MR,1608059994,Atar
449,Mogadishu,2.04,45.34,298.46,79,0,8.88,SO,1608059995,Mogadishu
454,Hervey Bay,-25.30,152.85,295.93,92,0,1.34,AU,1608059996,Hervey Bay
458,Hobyo,5.35,48.53,298.69,74,0,8.95,SO,1608059996,Hobyo
462,Nouakchott,18.09,-15.98,297.15,47,0,4.10,MR,1608059996,Nouakchott
474,Wattegama,6.80,81.48,296.15,100,0,1.50,LK,1608059998,Wattegama
481,Dakar,14.69,-17.44,296.15,78,0,4.10,SN,1608059983,Dakar
507,Araouane,18.90,-3.53,297.19,22,0,2.84,ML,1608060001,Araouane
525,Kismayo,-0.36,42.55,299.21,79,0,6.45,SO,1608060004,Kismayo

In [9]:
null_hotel = hotel_df[hotel_df['Hotel Name'] == '']
null_hotel.head()

Empty DataFrame
Columns: [City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date, Hotel Name]
Index: []

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
marker_locations = locations
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))